---
import Namelayout from "../layouts/Namelayout.astro";

import { typeColor, typeIcon } from "./../switches/color_icon";

import { fetchPokemon, fetchSpecies } from "../api/fetch";
import Tabs from "../components/Tabs.astro";
import Biometrics from "../components/Biometrics.astro";
import Artwork from "../components/Artwork.astro";
import Intro from "../components/Intro.astro";

const { name } = Astro.params;

const pokemon = await fetchPokemon(name);
if (pokemon === 404) return Astro.redirect("/404");

const pokemonSpecies = await fetchSpecies(name);

function convertKgToLb(kg: number): string {
  const lbPerKg = 2.20462;
  const lb = kg * lbPerKg;
  return `<span>${Number(lb.toFixed(1))} lbs</span><span>(${kg} kg)</span>`;
}
const weight = convertKgToLb(pokemon.weight / 10);

function convertCmToFeetInches(cm: number): string {
  const inchesPerCm = 0.393701;
  const totalInches = cm * inchesPerCm;
  const feet = Math.floor(totalInches / 12);
  const inches = (totalInches % 12).toFixed(1);
  const meters = (cm / 100).toFixed(2);
  return `<span>${feet}' ${inches}"</span><span>(${meters} m)</span>`;
}
const height = convertCmToFeetInches(pokemon.height * 10);

let type = pokemon.types[0].type.name;
const color = typeColor(type);
const icon = typeIcon(type);

const image = pokemon.sprites.other["official-artwork"].front_default;

let secondType, secondTypeIcon, secondTypeColor;
if (type && pokemon.types[1]?.type.name) {
  secondType = pokemon.types[1].type.name;
  secondTypeColor = typeColor(secondType);
  secondTypeIcon = typeIcon(secondType);
}
---

<Namelayout title={name}>
  <div
    id="bg"
    class="h-full w-screen absolute -z-10 bg-[#fefefe] block lg:hidden"
  >
    <div
      class="h-[30vh] z-10 rounded-[0_0_50%_50%_/_94%_94%_6%_6%]"
      style=`background: linear-gradient(rgba(${color}, 0.7), rgb(${color}))`
    >
    </div>
  </div>
  <div class="flex flex-col justify-evenly">
    <a
      href="/"
      class="text-[#fefefe] block my-4 ml-4 text-base font-semibold hover:underline"
      >&larr; Pokedex</a
    >
    <div
      class="lg:flex lg:flex-col lg:w-screen lg:justify-start lg:items-start lg:gap-4"
    >
      <main
        class="lg:lg-box lg:flex lg:w-full lg:h-auto lg:items-start lg:justify-start lg:gap-4"
      >
        <aside class="lg:lg-box lg:w-1/4 lg:block hidden">
          <Biometrics
            color={color}
            secondTypeColor={secondTypeColor}
            type={type}
            secondType={secondType}
            icon={icon}
            secondTypeIcon={secondTypeIcon}
            weight={weight}
            height={height}
          />
        </aside>
        <div class="lg:flex lg:flex-col lg:w-1/2 lg:gap-4">
          <div class=":lglg-box lg:w-full">
            <Intro name={pokemon.name} id={pokemon.id} />
          </div>

          <div
            class="lg:relative lg:w-full lg:aspect-square lg:flex lg:justify-center lg:items-center"
          >
            <div
              class="lg:absolute lg:top-0 lg:left-0 lg:bottom-0 lg:right-0 lg:border-4 lg:border-solid lg:rounded-full"
              style={`border-color: rgb(${color})`}
            >
            </div>
            <div
              class="lg:absolute lg:top-3 lg:left-3 lg:bottom-3 lg:right-3 lg:border-2 lg:border-solid lg:rounded-full"
              style={`border-color: rgba(${color}, 0.4)`}
            >
            </div>
            <div
              class="lg:absolute lg:top-1 lg:left-1 lg:bottom-1 lg:right-1 lg:border-4 lg:border-dotted lg:rounded-full lg:animate-spin-slow"
              style={`border-color: rgba(${color}, 0.4)`}
            >
            </div>

            <Artwork image={image} />
          </div>
        </div>
        <div class="block lg:hidden">
          <Biometrics
            color={color}
            secondTypeColor={secondTypeColor}
            type={type}
            secondType={secondType}
            icon={icon}
            secondTypeIcon={secondTypeIcon}
            weight={weight}
            height={height}
          />
        </div>
        <aside class="lg:w-1/4">
          <div class="lg:lg-box">
            <div class="px-3 text-center mt-4 mb-8 lg::p-0 lg:m-0">
              {pokemonSpecies.flavor_text_entries[3].flavor_text}
              {pokemonSpecies.flavor_text_entries[4].flavor_text}
              {pokemonSpecies.flavor_text_entries[5].flavor_text}
              {pokemonSpecies.flavor_text_entries[6].flavor_text}
            </div>
          </div>
        </aside>
      </main>

      <footer class="flex-none">
        <Tabs pokemon={pokemon} pokemonSpecies={pokemonSpecies} color={color} />
      </footer>
    </div>
  </div>
</Namelayout>
